//Colors
$white:                       #ffffff;
$BtnClean:                    #8f9db2;

$color-hover:                 #fd3d50;
$bluePrimary:                 #1a7dd7;

$BtnDefault-bg:               #b2bdc7;
$BtnDefault-bgHover:          #76838f;

$BtnPrimary-bg:               #394264;
$BtnPrimary-bgHover:          #50597b;

$BtnDanger-bg:               #f96868;
$BtnDanger-bgHover:          #fa7a7a;
$BtnDanger-bgActive:         #e9595b;


button{
	text-decoration: none;
}

// ------------------- BtnDefault -------------------

.BtnDefault{
  float: left;
  border: 1px solid $bluePrimary;
  background-color: transparent;
  margin: 5px;
  border-radius:3px;
  padding: 10px;
  cursor: pointer;
  color: $bluePrimary;
  font-weight: bold;
  font-size: 0.8em;

  &:hover, &:active{
    background-color: $bluePrimary;
    color: $white;
  }
 }

// ------------------- BtnPrimary -------------------

.BtnPrimary{
  float: left;
  padding: 5px;
  background-color: $BtnPrimary-bg;
  color: $white;
  margin-right: 10px;
  border-radius:3px;
  font-size: 1em;
  padding: 8px 10px;
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #11a8ab; 

  &:hover, &:active{
    background-color: $BtnPrimary-bgHover;
  }

  @media screen and (min-width: 768px){
    font-size: 1em;
    padding: 10px 20px;
  }
 }

 // ------------------- BtnDanger -------------------

.BtnDanger{
  float: left;
  padding: 5px;
  background-color: $BtnDanger-bg;
  color: $white;
  margin-right: 10px;
  border-radius:3px;
  font-size: 1em;
  padding: 8px 10px;
  cursor: pointer;
  border: none;

  &:hover{
    background-color: $BtnDanger-bgHover;
  }

  &:active{
    background-color: $BtnDanger-bgActive;
  }

  @media screen and (min-width: 768px){
    font-size: 1em;
    padding: 10px 20px;
  }
 }
 
 // ------------------- BtnSecondary -------------------
.BtnSecondary{
  height: 40px;
  max-width: 200px;
  padding: 5px;
  background-color: transparent;
  font-size: 0.6em;
  padding: 8px 5px;
  cursor: pointer;
  border: none;
  border: 2px solid $white;
  color: $white;
  border-radius: 3px;
  font-weight: bold;
  vertical-align: middle;

  &:hover, &:focus, &:active{
    background-color: $white;
    color: $color-hover;
  }

  @media screen and (min-width: 768px){
    font-size: 0.6em;
    padding: 0px 20px;
  }
  @media screen and (min-width: 1366px){
    font-size: 0.8em;
    height: 50px;
  }
 }


 .BtnClean{
  background-color: transparent;
  border: none;
  color: $BtnClean;
  border-radius:3px;
  padding: 10px;
  margin: 3px;
  cursor: pointer;
 }
